:root {
    --gradient: linear-gradient(119.53deg, rgba(8, 68, 64, 0.57) 4.89%, rgba(6, 22, 45, 0.57) 96.18%);
}

* {
    font-family: "Poppins", sans-serif;
}

html,body {
    padding: 0;
    margin: 0;
}

/* Hide scrollbar*/
html::-webkit-scrollbar,body::-webkit-scrollbar {
    display: none;
}

html,body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* header start */

header {
    display: flex;
    height: 5.7292vw;
    width: auto;
    align-items: center;
    padding: 0vw 1.5625vw;
    border-bottom: 0.0521vw solid #C6C6C6;
}


.tabs {
    margin-left: auto;
    margin-right: 4.1667vw;
    display: flex;
    height: 100%;
    gap: 1.0417vw;
    align-items: center;
    font-size: 0.9375vw;
    font-weight: 400;
    line-height: 1.4063vw;
    text-align: center;

}

.tabs > a {
    text-decoration: none;
    color: #424242;
    height: 5.7292vw;
    display: flex;
    align-items: center;
    padding: 0.5208vw 0.2604vw;
    box-sizing: border-box;
    border-bottom: 0.1042vw solid transparent;
}

.tabs > a:hover {
    border-bottom: 0.1042vw solid #EA651B;
}

.cta {
    display: flex;
    gap: 1.3021vw;
}

#phone-cta {
    border: none;
    background-color: white;
    color: #EA651B;
    display: flex;
    align-items: center;
    gap: 0.5208vw;
    padding: 1.0417vw 1.5625vw;
    font-size: 0.9375vw;
    font-weight: 500;
    line-height: 1.4063vw;
    text-align: left;
}

#phone-cta > span:hover {
    text-decoration: underline;
}

button {
    border: none;
    background: #EA651B;
    color: white;
    padding: 1.0417vw 2.6042vw;
    border-radius: 2.6042vw;
    font-size: 0.9375vw;
    font-weight: 400;
    line-height: 1.4063vw;
    width: 12.5vw;
}

button:hover {
    background: radial-gradient(73.88% 73.88% at 53.21% -9.36%, #DC4415 0%, #F3894F 51.39%, #E84F0D 100%);
    transform: scale(1.01, 1);
}

/* header end */

/* hero start */


#hero {
    background-image:  linear-gradient(119.53deg, rgba(11, 62, 91, 0.3591) 4.89%, rgba(5, 16, 33, 0.57) 96.18%),
    url('images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 42.3438vw;
    color: rgba(255, 255, 255, 1);
    display: flex;
    gap: 8.3333vw;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 0.8854vw;

}

#title {
    background: rgba(51, 73, 93, 1);
    width: 10.9375vw;
    display: flex;
    padding: 1.0417vw;
    gap: 0.8854vw;
}

#title > img {
    width: 2.0833vw;
}

#title > div {
    font-size: 1.0854vw;
    font-weight: 300;
    line-height: 1.0958vw;
    letter-spacing: 0.16em;
}

.text > .heading {
    font-size: 2.9167vw;
    font-weight: 600;
    line-height: 2.9458vw;
}

.text > p {
    font-family: "Roboto", Hebrew;
    font-size: 1.0417vw;
    font-weight: 300;
    line-height: 1.3542vw;
    letter-spacing: 0.0365vw;
    margin: 0;
}

.p {
    width: 33.8542vw;
    display: flex;
    flex-direction: column;
    gap: 2.6042vw;
}

#form {
    background-color:rgba(18, 41, 66, 0.5);
    backdrop-filter: blur(0.8854vw);
    display: flex;
    height: 30.2083vw;
    width: 31.25vw;
    padding: 3.125vw;
    box-sizing: border-box; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.0417vw;
    align-items: center;
}


input, textarea {
    background-color: transparent;
    border: none;
    border-bottom: 0.0521vw solid rgba(255, 255, 255, 0.2);
    width: 25vw;
    font-size: 0.9375vw;
    padding: 0.8854vw 0vw;
    color: white;

}

input::placeholder, textarea::placeholder {
    opacity: 1;
    color: white;
}

input:hover::placeholder, textarea:hover::placeholder {
    color: transparent;
    cursor: pointer;
    border-left: 0.1042vw solid white;
}

input:focus,textarea:focus {
    outline: none;
}

textarea {
    resize: none;
}

/* hero end */

/* para start */

#p-area {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 7.8125vw 13.0208vw;
    gap: 3.125vw;
}

#para {
    display: flex;
    flex-direction: column;
    gap: 2.6042vw;
}

#para-text {
    display: flex;
    flex-direction: column;
    gap: 0.8854vw;
}

#para-text > h1 {
    font-size: 2.0833vw;
    font-weight: 600;
    line-height: 2.7083vw;
    margin: 0;
    display: flex;
    margin-top: -0.5208vw;
}

#para-text > p {
    font-family: "Open Sans", sans-serif;
    color: rgba(95, 98, 100, 1);
    font-size: 1.0417vw;
    font-weight: 400;
    margin: 0;
}

#para-text > div {
    font-family: "Staatliches", sans-serif;
    font-size: 1.6667vw;
    font-weight: 400;
    line-height: 2.1667vw;
    color: rgba(234, 101, 27, 1);
}

#para > button {
    margin-bottom: -0.5208vw;
}

/* para end */

/* grid start */

#grids {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5208vw;
    justify-content: center;
    align-items: center;
    padding: 0vw 0.625vw;
}

.grid {
    display: inline-flex;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
    height: 22.5vw;
    align-items: center;
    justify-content: end;
    gap: 2.6042vw;
}

.grid:nth-child(1) {
    background-image: var(--gradient),
    url(images/grid1.png);
}

.grid:nth-child(2) {
    background-image: var(--gradient),
    url(images/grid2.png);
}

.grid:nth-child(3) {
    background-image: var(--gradient),
    url(images/grid3.png);
}

.grid:nth-child(4) {
    background-image: var(--gradient),
    url(images/grid4.png);
}

.grid:nth-child(5) {
    background-image: var(--gradient),
    url(images/grid5.png);
}

.grid:nth-child(6) {
    background-image: var(--gradient),
    url(images/grid6.png);
}

.inner {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.625vw;
    width: 16.9271vw;
}

.inner > div {
    font-size: 2.0833vw;
    font-weight: 600;
    line-height: 2.7083vw;
}

.inner > p {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9375vw;
    font-weight: 400;
    line-height: 1.2187vw;
    margin: 0;
}

.grid > button {
    margin-bottom: 2.8646vw;
    width: 8.0729vw;
    padding: 0.7813vw;
}

/* grid end */

/* reviews start */

#reviews {
    margin: 8.8542vw 13.0208vw;
    display: flex;
    flex-direction: column;
}

#endorsement {
    display: flex;
    gap: 2.6042vw;
    align-items: center;
}

#endorsement div {
    font-size: 1.7708vw;
    font-weight: 600;
    line-height: 2.1427vw;
    color: rgba(38, 40, 41, 1);
    flex: 1;
}

#endorsement span {
    font-family: "Open Sans", sans-serif;
    font-size: 1.0417vw;
    font-weight: 400;
    line-height: 1.3542vw;
    flex: 1;
}

#box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.0417vw;
    margin: 5.2083vw 0vw;
}

.box {
    display: grid;
    flex-direction: column;
    gap: 1.0417vw;
    width: 17.7083vw;
    height: 21.3542vw;
    box-sizing: border-box;
    padding: 2.0833vw 1.3021vw;
    box-shadow: 0.8333vw 1.0417vw 2.3438vw 0vw rgba(2, 2, 2, 0.05);
}

.box * {
    font-family: "Lato", sans-serif;
}

.box > div:nth-of-type(1) {
    font-size: 1.0417vw;
    font-weight: 400;
    line-height: 1.3542vw;
    color: rgba(95, 98, 100, 1);
}

.username {
    display: flex;
    gap: 1.875vw;
    padding-bottom: 0.2604vw;
}

.username > * {
    font-size: 0.9375vw;
    font-weight: 700;
    line-height: 1.2187vw;
    color: rgba(95, 98, 100, 1);
}

.username > div:nth-child(2) {
    font-weight: 400;
}

.verification {
    display: flex;
    gap: 0.5208vw;
    align-items: center;
    font-size: 0.9375vw;
}